//Fonts
//$bold-font: '#', 'Arial', sans-serif;
//$semibold-font: '#', 'Arial', sans-serif;
//$regular-font: 'raleway-regular', 'Arial', sans-serif;
//$light-font: '#', 'Arial', sans-serif;

//Mixins
@mixin ul-reset{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@mixin tr($time){
    transition: all $time ease;
}
