@import '_libs';
@import '_fonts';
@import '_vars';

//Base
body{
    position: relative;
    min-width: 320px;
    margin: 0;
    padding: 0;
    //font-family: $regular-font;
    font-size: 16px;
    line-height: 1.75;
    overflow-x: hidden;
    opacity: 1;
}

a,
a:hover,
a:active,
a:focus,
a:visited{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    //text-transform: uppercase;
    line-height: 1.4;
}

*{
    outline: none !important;
}

ul{
    list-style-type: none;
}

.hidden{
    display: none;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

//Header
body{
    
    background-color: cadetblue;
    
    h1{
        color: burlywood;
    }
}










